@import './base.scss';

@font-face {
    font-family: 'Commissioner';
    src: url('@/assets/fonts/Commissioner/Commissioner-Regular.woff2') format('woff2'),
        url('@/assets/fonts/Commissioner/Commissioner-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Commissioner';
    src: url('@/assets/fonts/Commissioner/Commissioner-Bold.woff2') format('woff2'),
        url('@/assets/fonts/Commissioner/Commissioner-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Druk';
    src: url('@/assets/fonts/Druk/DrukWideCyr-Bold.woff2') format('woff2'),
        url('@/assets/fonts/Druk/DrukWideCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

body {
    margin: 1rem;
    padding: 0;
    background-color: gainsboro;
    font-family: 'Druk', serif;
    font-size: 1rem;
    text-transform: uppercase;
}

button {
    font-family: 'Druk', serif;
    text-transform: uppercase;
}

p {
    font-family: 'Commissioner', serif;
    text-transform: none;
}